<section class="mt-6 lg:mt-[58px]">
  <div class="md:flex flex-col lg:flex-row max-w-[1220px] mx-auto px-[30px]">
    <!-- <div class="flex-col md:flex md:flex-row-reverse md:justify-between"> -->
    <div class="w-full md:w-1/2">
      <div class="title">
        Электронные компоненты из глобального складского наличия, подбор
        аналогов и поставки по графику
      </div>
      <div class="flex items-center gap-[20px] md:gap-7 pt-5 pb-5">
        <a href="https://app.streamparts.ru/login"
          class="inline-block px-12 py-2 text-sm font-normal text-center text-white rounded-lg bg-blue">
          Войти
        </a>
        <div
          class="inline-block before:top-[2px] text-sm font-normal before:relative before:content-arrow whitespace-normal">
          <a href="{{ link3.url }}">{{ link3.text }}</a>
        </div>
      </div>
    </div>
    <div class="w-full md:w-1/2">
      <img src="/src/img/Img_1_screen.jpg" alt="Macbook" />
    </div>
  </div>
  </div>
</section>