<div class="tab-content">
  <div class="active tab-content__item">
    <div
      class="flex flex-row-reverse flex-wrap justify-between"
      id="first"
      role="tabpanel"
      aria-labelledby="first-tab"
      data-te-tab-activ
    >
      <img
        class="w-[50%] object-cover"
        src="/src/img/tabs12.png"
        alt="Поисковый агрегатор"
      />
      <div class="flex flex-col justify-center">
        <p
          class="pl-[52px] pb-5 before:content-markerb before:top-[2px] before:relative text-base leading-6 text-markerBlue font-medium"
        >
          50 + источников в поисковой выдаче
        </p>
        <p
          class="pl-[52px] pb-5 before:content-markerb before:top-[2px] before:relative text-base leading-6 text-markerBlue font-medium"
        >
          Опции из складского наличия и размещение в производство
        </p>
        <p
          class="pl-[52px] pb-5 before:content-markerb before:top-[2px] before:relative text-base leading-6 text-markerBlue font-medium"
        >
          Анализ доступности компонента
        </p>
        <p
          class="pl-[52px] pb-5 before:content-markerb before:top-[2px] before:relative text-base leading-6 text-markerBlue font-medium"
        >
          Построчный поиск и списком &#40;загрузка BOM&#41;
        </p>
        <p
          class="pl-[52px] pb-5 before:content-markerb before:top-[2px] before:relative text-base leading-6 text-markerBlue font-medium"
        >
          Кросс-референс аналоги
        </p>
        <p
          class="pl-[52px] pb-5 before:content-markerb before:top-[2px] before:relative text-base leading-6 text-markerBlue font-medium"
        >
          Аналоги по типу упаковки
        </p>
        <p
          class="pl-[52px] pb-5 before:content-markerb before:top-[2px] before:relative text-base leading-6 text-markerBlue font-medium"
        >
          Сохранение результатов поиска в корзине<br />
          &#40;либо пуле корзин &#40;проект/заказ/клиент&#41;
        </p>
        <p
          class="pl-[52px] pb-5 before:content-markerb before:top-[2px] before:relative text-base text-markerBlue font-medium"
        >
          Динамическое обновление корзины
        </p>
      </div>
    </div>
  </div>
  <!-- 2 -->
  <div class="tab-content__item">
    <div
      class="flex flex-row justify-between data-[te-tab-active]:block"
      data-target="second"
    >
      <img
        class="float-right object-cover"
        src="/src/img/tabs2.jpg"
        alt="Каталог
      азиатских проивзодителей"
      />
      <ul
        role="list"
        class="w-1/2 px-12 py-16 list-square marker:text-markerBlue"
      >
        <li class="text-xs font-medium leading-6 text-dark">
          Параметрический поиск
        </li>
        <li class="text-xs font-medium leading-6 text-dark">
          Текстовый поиск среди результатов категории
        </li>
        <li class="text-xs font-medium leading-6 text-dark">
          Кросс-референс аналоги к западным компонентам (pin2pin,
          функциональные)
        </li>
        <li class="text-xs font-medium leading-6 text-dark">
          Техническая документация онлайн и ссылки для скачивания
        </li>
        <li class="text-xs font-medium leading-6 text-dark">
          Создание запроса
        </li>
        <li class="text-xs font-medium leading-6 text-dark">
          Проверка на складское наличие компонента
        </li>
      </ul>
    </div>
  </div>
  <div class="tab-content__item">
    <div id="third" class="p-4">
      <div
        class="flex flex-row justify-between data-[te-tab-active]:block"
        data-target="third"
      >
        <ul
          role="list"
          class="w-1/2 px-12 py-16 list-square marker:text-markerBlue"
        >
          <li class="text-xs font-medium leading-6 text-dark">
            Дополнительные источники складского наличия в Китае
          </li>
          <li class="text-xs font-medium leading-6 text-dark">
            Потенциал улучшения цены на чеки от 5000 USD или эквивалент
          </li>
          <li class="text-xs font-medium leading-6 text-dark">
            Повторяющийся запрос о поступлении на склад
          </li>
          <li class="text-xs font-medium leading-6 text-dark">
            Расчет поставки от иностранного источника (заказная поставка)
          </li>
          <li class="text-xs font-medium leading-6 text-dark">
            Срок квотации 12 - 24 часов
          </li>
        </ul>
        <img
          class="object-coverfloat-right"
          src="/src/img/tabs3.jpg"
          alt="Сиситема
        обработки запросов"
        />
      </div>
    </div>
  </div>
  <div class="tab-content__item">
    <!-- 4  -->
    <div id="fourth" class="p-4">
      <div
        class="flex flex-row justify-between data-[te-tab-active]:block"
        id="fourth"
        role="tabpanel"
        aria-labelledby="fourth-tab"
      >
        <img
          class="object-coverfloat-right"
          src="/src/img/tabs4.jpg"
          alt="Журнал
      заказов"
        />
        <ul
          role="list"
          class="w-1/2 px-12 py-16 list-square marker:text-markerBlue"
        >
          <li class="text-xs font-medium leading-6 text-dark">
            Отслеживание статусов размещенных заказов
          </li>
          <li class="text-xs font-medium leading-6 text-dark">
            Динамическая ожидаемая дата поставки
          </li>
          <li class="text-xs font-medium leading-6 text-dark">
            Выставленные счета и статус оплаты
          </li>
          <li class="text-xs font-medium leading-6 text-dark">
            Просматриваемость заказов подчиненных аккаунтов
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
