<div class="flex flex-col justify-between gap-8 my-5 md:my-10 md:flex-row">
    <div class="flex max-w-[560px] flex-col w-full gap-5 py-8 border px-9 border-gray rounded-xl">
        <img class="w-[64px]" src="./img/icon/ourstaff.svg" alt="clients " />
        <h2 class="text-5xl text-black ">Наши сотрудники</h2>
        <p class="text-xs text-black md:text-sm lg:text-xl">
            имеют ценный опыт работы в ключевых российских и международных
            компаниях отрасли
        </p>
    </div>
    <div class="flex flex-col max-w-[560px] w-full gap-5 py-8 border px-9 border-gray rounded-xl">
        <img class="w-[64px]" src="./img/icon/ourclients.svg" alt="daimond" />
        <h2 class="text-5xl text-black">Нашими клиентами</h2>
        <p class="text-xs text-black md:text-sm lg:text-xl">
            являются российские разработчики, производители электронной
            аппаратуры гражданских отраслей промышленности и дистрибуторы
        </p>
    </div>
</div>