<head>
  <meta charset="utf-8" />
  <title>{{title.title}}</title>
  <meta name="description" content="Test" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, viewport-fit=cover"
  />
  <meta property="og:title" content="Test" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="" />
  <meta property="og:description" content="Test" />
  <link rel="stylesheet" href="./css/font.css" />
  <link rel="stylesheet" href="../dist/css/index.css" />

  <!-- Необходимо добавить favicon -->
</head>
