<section
  id="activities"
  class="container px-4 pt-16 pb-20 mx-auto md:px-8 md:pt-20"
>
  <div class="mb-12 text-5xl text-center text-blue sm:text-7xl font-extralight">
    {{ heading }}
  </div>
  <div
    class="grid grid-cols-1 sm:grid-cols-2 auto-cols-max gap-8 max-w-[1200px] mx-auto text-white"
  >
    <div
      class="bg-blue pl-10 pb-10 pt-6 pr-4 rounded-3xl shadow-[-13px_11px_8px_0px_rgba(0,0,0,0.15)]"
      data-aos="fade-up"
    >
      <p class="mb-4 text-2xl font-bold sm:text-3xl">{{ text1 }}</p>
      <p class="mb-2 text-xl leading-7 sm:text-2xl text-light">{{ text2 }}</p>
      <p class="mb-2 text-xl leading-7 sm:text-2xl text-light">{{ text3 }}</p>
      <p class="mb-2 text-xl leading-7 sm:text-2xl text-light">{{ text4 }}</p>
      <p class="mb-2 text-xl leading-7 sm:text-2xl text-light">{{ text5 }}</p>
    </div>
    <div
      class="bg-dark pl-10 pb-10 pt-6 pr-4 rounded-3xl shadow-[-13px_11px_8px_0px_rgba(0,0,0,0.15)]"
      data-aos="fade-up"
    >
      <p class="mb-4 text-2xl font-bold sm:text-3xl">{{ text6 }}</p>
      <p class="mb-2 text-xl leading-7 sm:text-2xl text-light">{{ text7 }}</p>
      <p class="mb-2 text-xl leading-7 sm:text-2xl text-light">{{ text8 }}</p>
      <p class="mb-2 text-xl leading-7 sm:text-2xl text-light">{{ text9 }}</p>
      <p class="mb-2 text-xl leading-7 sm:text-2xl text-light">{{ text10 }}</p>
    </div>
    <div
      class="bg-gray pl-10 pb-10 pt-6 pr-4 rounded-3xl shadow-[-13px_11px_8px_0px_rgba(0,0,0,0.15)]"
      data-aos="fade-up"
    >
      <p class="mb-4 text-2xl font-bold sm:text-3xl">{{ text11 }}</p>
      <p class="mb-2 text-xl leading-7 sm:text-2xl text-light">{{ text12 }}</p>
      <p class="mb-2 text-xl leading-7 sm:text-2xl text-light">{{ text13 }}</p>
    </div>
    <div
      class="bg-orange pl-10 pb-10 pt-6 pr-4 rounded-3xl shadow-[-13px_11px_8px_0px_rgba(0,0,0,0.15)]"
      data-aos="fade-up"
    >
      <p class="mb-4 text-2xl font-bold sm:text-3xl">{{ text14 }}</p>
      <p class="mb-2 text-xl leading-7 sm:text-2xl text-light">{{ text15 }}</p>
      <p class="mb-2 text-xl leading-7 sm:text-2xl text-light">{{ text16 }}</p>
    </div>
  </div>
</section>
