<section id="about" class="container bg-cover bg-sky-200 mx-auto px-4 pt-10 md:px-8">
  <div class="text-black text-5xl sm:text-7xl font-normal text-left mb-20">
    О нас
  </div>
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 xl:grid-cols-4 gap-x-20 xl:gap-x-32 gap-y-16">
    <div class="text-2xl">
      <p class="text-left font-medium text-5xl text-base/loose">Мы знаем, что такое лазерное излучение,
        LTL перевозки, PHP и работа с данными</p>
      <button
        class="inline-flex items-center bg-white border-solid border border-gray rounded-2xl py-8 px-16 text-base md:mt-0">Подробнее
        <svg width="21" height="8" viewBox="0 0 21 8" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M22.1602 4.35355C22.3555 4.15829 22.3555 3.84171 22.1602 3.64645L18.9782 0.464466C18.783 0.269204 18.4664 0.269204 18.2711 0.464466C18.0758 0.659728 18.0758 0.976311 18.2711 1.17157L21.0995 4L18.2711 6.82843C18.0758 7.02369 18.0758 7.34027 18.2711 7.53553C18.4664 7.7308 18.783 7.7308 18.9782 7.53553L22.1602 4.35355ZM0.806641 4.5H21.8066V3.5H0.806641V4.5Z"
            fill="#007BFF" />
        </svg>
      </button>
    </div>
    <!-- <div data-aos="fade-up">
      <img src="/src/img/about_2.png" alt="" class="mx-auto max-w-[160px]">
      <p class="text-center font-light text-xl">{{ text2 }}</p>
    </div>
    <div data-aos="fade-up">
      <img src="/src/img/about_3.png" alt="" class="mx-auto max-w-[160px]">
      <p class="text-center font-light text-xl">{{ text3 }}</p>
    </div>
    <div data-aos="fade-up">
      <img src="/src/img/about_4.png" alt="" class="mx-auto max-w-[160px]">
      <p class="text-center font-light text-xl">{{ text4 }}</p>
    </div>
    <div data-aos="fade-up">
      <img src="/src/img/about_5.png" alt="" class="mx-auto max-w-[160px]">
      <p class="text-center font-light text-xl">{{ text5 }}</p>
    </div>
    <div data-aos="fade-up">
      <img src="/src/img/about_6.png" alt="" class="mx-auto max-w-[160px]">
      <p class="text-center font-light text-xl">{{ text6 }}</p>
    </div>
    <div data-aos="fade-up">
      <img src="/src/img/about_7.png" alt="" class="mx-auto max-w-[160px]">
      <p class="text-center font-light text-xl">{{ text7 }}</p>
    </div>
    <div data-aos="fade-up">
      <img src="/src/img/about_8.png" alt="" class="mx-auto max-w-[160px]">
      <p class="text-center font-light text-xl">{{ text8 }}</p>
    </div>
    <div data-aos="fade-up">
      <img src="/src/img/about_9.png" alt="" class="mx-auto max-w-[160px]">
      <p class="text-center font-light text-xl">{{ text9 }}</p>
    </div>
    <div data-aos="fade-up">
      <img src="/src/img/about_10.png" alt="" class="mx-auto max-w-[160px]">
      <p class="text-center font-light text-xl">{{ text10 }}</p>
    </div>
    <div data-aos="fade-up">
      <img src="/src/img/about_11.png" alt="" class="mx-auto max-w-[160px]">
      <p class="text-center font-light text-xl">{{ text11 }}</p>
    </div>
    <div data-aos="fade-up">
      <img src="/src/img/about_12.png" alt="" class="mx-auto max-w-[160px]">
      <p class="text-center font-light text-xl">{{ text12 }}</p>
    </div>
  </div> -->
</section>