<section id="about" class="container mx-auto px-4 pt-8 md:px-8">
  <div class="text-blue text-5xl sm:text-7xl font-extralight text-center mb-20">
    {{ heading }}
  </div>
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 xl:grid-cols-4 gap-x-20 xl:gap-x-32 gap-y-16">
    <div class="" data-aos="fade-up">
      <img src="/src/img/about_1.png" alt="" class="mx-auto max-w-[160px]">
      <p class="text-center font-light text-xl">{{ text1 }}</p>
    </div>
    <div data-aos="fade-up">
      <img src="/src/img/about_2.png" alt="" class="mx-auto max-w-[160px]">
      <p class="text-center font-light text-xl">{{ text2 }}</p>
    </div>
    <div data-aos="fade-up">
      <img src="/src/img/about_3.png" alt="" class="mx-auto max-w-[160px]">
      <p class="text-center font-light text-xl">{{ text3 }}</p>
    </div>
    <div data-aos="fade-up">
      <img src="/src/img/about_4.png" alt="" class="mx-auto max-w-[160px]">
      <p class="text-center font-light text-xl">{{ text4 }}</p>
    </div>
    <div data-aos="fade-up">
      <img src="/src/img/about_5.png" alt="" class="mx-auto max-w-[160px]">
      <p class="text-center font-light text-xl">{{ text5 }}</p>
    </div>
    <div data-aos="fade-up">
      <img src="/src/img/about_6.png" alt="" class="mx-auto max-w-[160px]">
      <p class="text-center font-light text-xl">{{ text6 }}</p>
    </div>
    <div data-aos="fade-up">
      <img src="/src/img/about_7.png" alt="" class="mx-auto max-w-[160px]">
      <p class="text-center font-light text-xl">{{ text7 }}</p>
    </div>
    <div data-aos="fade-up">
      <img src="/src/img/about_8.png" alt="" class="mx-auto max-w-[160px]">
      <p class="text-center font-light text-xl">{{ text8 }}</p>
    </div>
    <div data-aos="fade-up">
      <img src="/src/img/about_9.png" alt="" class="mx-auto max-w-[160px]">
      <p class="text-center font-light text-xl">{{ text9 }}</p>
    </div>
    <div data-aos="fade-up">
      <img src="/src/img/about_10.png" alt="" class="mx-auto max-w-[160px]">
      <p class="text-center font-light text-xl">{{ text10 }}</p>
    </div>
    <div data-aos="fade-up">
      <img src="/src/img/about_11.png" alt="" class="mx-auto max-w-[160px]">
      <p class="text-center font-light text-xl">{{ text11 }}</p>
    </div>
    <div data-aos="fade-up">
      <img src="/src/img/about_12.png" alt="" class="mx-auto max-w-[160px]">
      <p class="text-center font-light text-xl">{{ text12 }}</p>
    </div>
  </div>
</section>
