<section id="about" class="bg-cover bg-regalblue mb-5">
  <div class="max-w-[1220px] px-[30px] mx-auto pt-10">
    <h2
      class="font-['SF Pro Text'] text-black lg:text-[46px] md:text-[26px] lg:leading-[31.03px] text-[26px] leading-[31.03px] font-normal text-left mb-6">
      О нас
    </h2>
  </div>
  <div class="max-w-[1220px] px-[30px] mx-auto md:pb-10 flex flex-col md:flex-row items-center">
    <div class="pb-6 md:w-1/2">
      <p class="text-markerBlue font-body text-[24px] leading-[32px]">
        Мы знаем, что
        такое
        лазерное
        излучение,
        LTL перевозки, PHP и работа с данными
      </p>
    </div>
    <div class="md:pl-5 lg:pl-52 pb-10">
      <button
        class="font-body inline-block before:left-[106px] before:relative before:content-more items-center bg-white hover:bg-markerBlue hover:text-white border-solid border border-gray rounded-2xl py-[25px] pr-24 pl-24 md:py-[19px] text-[14px] leading-5">Подробнее
      </button>
    </div>
  </div>
  </div>
</section>