<section id="activities" class="container mx-auto px-4 md:px-8 pt-16 md:pt-20 pb-20">
    <div class="text-blue text-5xl sm:text-7xl font-extralight text-center mb-12">
        {{ heading }}
    </div>
    <div class="grid grid-cols-1 sm:grid-cols-2 auto-cols-max gap-8 max-w-[1200px] mx-auto text-white">
        <div class="bg-blue pl-10 pb-10 pt-6 pr-4 rounded-3xl shadow-[-13px_11px_8px_0px_rgba(0,0,0,0.15)]" data-aos="fade-up">
            <p class="font-bold text-2xl sm:text-3xl mb-4">{{ text1 }}</p>
            <p class="text-xl sm:text-2xl text-light leading-7 mb-2">
                {{ text2 }}
            </p>
            <p class="text-xl sm:text-2xl text-light leading-7 mb-2">
                {{ text3 }}
            </p>
            <p class="text-xl sm:text-2xl text-light leading-7 mb-2">
                {{ text4 }}
            </p>
            <p class="text-xl sm:text-2xl text-light leading-7 mb-2">
                {{ text5 }}
            </p>
        </div>
        <div class="bg-dark pl-10 pb-10 pt-6 pr-4 rounded-3xl shadow-[-13px_11px_8px_0px_rgba(0,0,0,0.15)]" data-aos="fade-up">
            <p class="font-bold text-2xl sm:text-3xl mb-4">{{ text6 }}</p>
            <p class="text-xl sm:text-2xl text-light leading-7 mb-2">
                {{ text7 }}
            </p>
            <p class="text-xl sm:text-2xl text-light leading-7 mb-2">
                {{ text8 }}
            </p>
            <p class="text-xl sm:text-2xl text-light leading-7 mb-2">
                {{ text9 }}
            </p>
            <p class="text-xl sm:text-2xl text-light leading-7 mb-2">
                {{ text10 }}
            </p>
        </div>
        <div class="bg-gray pl-10 pb-10 pt-6 pr-4 rounded-3xl shadow-[-13px_11px_8px_0px_rgba(0,0,0,0.15)]" data-aos="fade-up">
            <p class="font-bold text-2xl sm:text-3xl mb-4">{{ text11 }}</p>
            <p class="text-xl sm:text-2xl text-light leading-7 mb-2">
                {{ text12 }}
            </p>
            <p class="text-xl sm:text-2xl text-light leading-7 mb-2">
                {{ text13 }}
            </p>
        </div>
        <div class="bg-orange pl-10 pb-10 pt-6 pr-4 rounded-3xl shadow-[-13px_11px_8px_0px_rgba(0,0,0,0.15)]" data-aos="fade-up">
            <p class="font-bold text-2xl sm:text-3xl mb-4">{{ text14 }}</p>
            <p class="text-xl sm:text-2xl text-light leading-7 mb-2">
                {{ text15 }}
            </p>
            <p class="text-xl sm:text-2xl text-light leading-7 mb-2">
                {{ text16 }}
            </p>
        </div>
    </div>
</section>
