<section id="applications" class="container mx-auto px-4 md:px-8 py-32">
  <div class="mb-12 sm:mb-20 text-black text-5xl sm:text-7xl font-extralight text-left">
    {{ heading }}
    <h2 class="font-medium text-5xl pt-20">
      <svg class="inline-block align-baseline" width="38" height="38" viewBox="0 0 38 38" transform="translate(130 1)"
        fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle opacity="0.2" cx="19" cy="19" r="19" fill="#007BFF" />
        <path d="M20.9041 11.4545V26H18.2692V14.0185H18.1839L14.782 16.1918V13.777L18.397 11.4545H20.9041Z"
          fill="#007BFF" />
      </svg>
      Свободный рынок
    </h2>
    <p class="pt-4 text-darkSecondary text-normal text-left text-xs">Складские поставки дефицитных компонентов в
      условиях санкций
    </p>
  </div>
  <div class="flex flex-row md:flex-row justify-between mx-0">
    <ul role="list"
      class="list-outside  list-square marker:text-markerOrange pt-5 text-left font-light text-2xl sm:text-3xl pl-10 mb-4 md:mb-8">
      <li class="pb-5 text-base font-medium">{{ text1 }}</li>
      <li class="py-5 text-base font-medium">{{ text2 }}</li>
      <li class="py-5 text-base font-medium">{{ text3 }}</li>
      <li class="py-5 text-base font-medium">{{ text4 }}</li>
      <li class="pt-5 text-base font-medium">{{ text5 }}</li>
    </ul>
    <img src="/src/img/basket&globe.jpg" alt="Applications" class="mx-0 float-right w-[100%] sm:max-w-[70%]">
  </div>
</section>