<footer id="contacts" class=" bg-dark shadow m-4">
  <div class="w-full w-[1160px] mx-auto p-4 md:py-8">
    <div class="sm:flex sm:items-center sm:justify-between">
      <a href="#" class="flex items-center mb-4 sm:mb-0">
        <img src="/src/img/logofooter.svg" class="h-8" alt="LogoStreamParst" />
      </a>
      <ul class="flex flex-wrap items-center mb-6 text-sm font-medium text-white sm:mb-0">
        <li class="px-5">
          <a href="#" class="inline-block text-center hover:text-blue">
            Главная
          </a>
        </li>
        <li class="px-5 py-3 border border-r-footerborder border-b-0 border-t-0 border-l-0">
          <a href="#" class="inline-block text-center hover:text-blue">
            О компании
          </a>
        </li>
        <a href="#"
          class="group md:inline-block xs:hidden items-center hover:text-blue text-white text-sm font-regular pl-2 pr-4 py-2">
          <svg class="mr-2 md:inline-block xs:hidden items-center align-baseline" width="16" height="16"
            viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect opacity="0.15" width="16" height="16" rx="4" fill="white" />
            <path
              d="M11.3536 8.35355C11.5488 8.15829 11.5488 7.84171 11.3536 7.64645L8.17157 4.46447C7.97631 4.2692 7.65973 4.2692 7.46447 4.46447C7.2692 4.65973 7.2692 4.97631 7.46447 5.17157L10.2929 8L7.46447 10.8284C7.2692 11.0237 7.2692 11.3403 7.46447 11.5355C7.65973 11.7308 7.97631 11.7308 8.17157 11.5355L11.3536 8.35355ZM4 8.5L11 8.5L11 7.5L4 7.5L4 8.5Z"
              fill="white" />
          </svg>
          Получить доступ
        </a>
        <button class="px-6 py-2 rounded-xl bg-blue text-white">
          <a href="#" class="inline-block text-center rounded-xl">
            Войти
          </a>
        </button>
      </ul>
    </div>
    <hr class="my-6 text-center border border-footerborder sm:mx-auto lg:my-8" />
    <div class="flex justify-between">
      <span class="px-4 inline-block text-sm text-white sm:text-center">
        <a href="#" class="hover:text-blue">© 2019 - 2023 Стримпартс</a>
      </span>
      <span class="inline-block text-sm text-white sm:text-center">
        <a href="#" class="hover:text-blue">Правила сайта</a>
      </span>
      <span class="pr-40 inline-block text-sm text-white sm:text-center">
        <a href="#" class="hover:text-blue">Политика обработки данных</a>
      </span>
      <span class="inline-block text-sm text-white sm:text-center">
        <svg class="inline-block align-baseline" width="20" height="20" viewBox="0 0 20 20" fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M9.04646 10.9533C8.07146 9.97831 7.33646 8.88664 6.84813 7.77914C6.7448 7.54497 6.80563 7.27081 6.98646 7.08997L7.66896 6.40831C8.22813 5.84914 8.22813 5.05831 7.7398 4.56997L6.76146 3.59164C6.11063 2.94081 5.05563 2.94081 4.4048 3.59164L3.86146 4.13497C3.24396 4.75247 2.98646 5.64331 3.15313 6.52664C3.5648 8.70414 4.8298 11.0883 6.87063 13.1291C8.91146 15.17 11.2956 16.435 13.4731 16.8466C14.3565 17.0133 15.2473 16.7558 15.8648 16.1383L16.4073 15.5958C17.0581 14.945 17.0581 13.89 16.4073 13.2391L15.4298 12.2616C14.9415 11.7733 14.1498 11.7733 13.6623 12.2616L12.9098 13.015C12.729 13.1958 12.4548 13.2566 12.2206 13.1533C11.1131 12.6641 10.0215 11.9283 9.04646 10.9533Z"
            stroke="white" stroke-opacity="0.3" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
        <a href="#" class="hover:text-blue">+7 (812) 509-66-56</a>
      </span>
      <span class="inline-block text-sm text-white sm:text-center">
        <svg class="inline-block" width="22" height="22" viewBox="0 0 22 22" fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <path d="M7.24805 9.12427L9.68695 10.6279C10.4917 11.1241 11.5075 11.1241 12.3123 10.6279L14.7512 9.12427"
            stroke="white" stroke-opacity="0.3" stroke-linecap="round" stroke-linejoin="round" />
          <rect x="3.49805" y="5.16431" width="15.0062" height="11.6715" rx="3" stroke="white" stroke-opacity="0.3"
            stroke-linecap="round" stroke-linejoin="round" />
        </svg>

        <a href="#" class="hover:text-blue">mailto:support@streamparts.ru</a>
      </span>
      <span class="inline-block text-sm text-white sm:text-center">
        <svg class="inline-block align-baseline" width="20" height="20" viewBox="0 0 20 20" fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M10 10.8333V10.8333C8.61917 10.8333 7.5 9.71408 7.5 8.33325V8.33325C7.5 6.95242 8.61917 5.83325 10 5.83325V5.83325C11.3808 5.83325 12.5 6.95242 12.5 8.33325V8.33325C12.5 9.71408 11.3808 10.8333 10 10.8333Z"
            stroke="white" stroke-opacity="0.3" stroke-linecap="round" stroke-linejoin="round" />
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M9.99935 17.5C9.99935 17.5 4.16602 12.7083 4.16602 8.33333C4.16602 5.11167 6.77768 2.5 9.99935 2.5C13.221 2.5 15.8327 5.11167 15.8327 8.33333C15.8327 12.7083 9.99935 17.5 9.99935 17.5Z"
            stroke="white" stroke-opacity="0.3" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
        <a href="#" class="hover:text-blue">Санкт-Петербург</a>
      </span>
    </div>
  </div>
</footer>