<section id="ecosystem" class="bg-blue pt-16 pb-16">
    <div class="container mx-auto px-4 md:px-8">
        <div class="text-white text-5xl sm:text-7xl font-extralight text-center mb-10">
            {{ heading }}
        </div>
        <p class="text-center font-light text-2xl sm:text-3xl">
            {{ text1 }}
        </p>
        <div class="flex flex-col md:flex-row justify-around items-center mx-auto max-w-[1200px] mt-20">
            <div class="max-w-[200px] text-center mb-12" data-aos="fade-up">
                <a href="/" class="max-w-[110px] mx-auto block">
                    <img src="/src/img/ecosystem_1.png" alt="">
                </a>
                <p class="text-white text-xl my-4 font-light">{{ text2 }}</p>
                <a class="text-xl font-semibold hover:decoration-1 hover:underline hover:underline-offset-8" href="/">Repelectronics.org</a>
            </div>
            <div class="max-w-[200px] text-center mb-12" data-aos="fade-up">
                <a href="https://redbees.ru/" class="max-w-[110px] mx-auto block">
                    <img src="/src/img/ecosystem_2.png" alt="">
                </a>
                <p class="text-white text-xl my-4 font-light">{{ text3 }}</p>
                <a class="text-xl font-semibold hover:decoration-1 hover:underline hover:underline-offset-8" href="https://redbees.ru/" target="_blank">Redbees.ru</a>
            </div>
            <div class="max-w-[260px] text-center mb-12" data-aos="fade-up">
                <a href="https://streamparts.ru/" class="max-w-[110px] mx-auto block">
                    <img src="/src/img/ecosystem_3.png" alt="">
                </a>
                <p class="text-white text-xl my-4 font-light">{{ text4 }}</p>
                <a class="text-xl font-semibold hover:decoration-1 hover:underline hover:underline-offset-8" href="https://streamparts.ru/" target="_blank">Streamparts.ru</a>
            </div>
        </div>
    </div>
</section>
