<section>
  <div class="container mx-auto flex flex-col lg:flex-row">
    <div class="w-full lg:w-80 xl:w-1/2 2xl:w-8/12 pt-[58px] md:pt-4">
      <p
        class="text-left lg:text-left 2xl:text-5xl 2xl:font-medium xl:text-lg xl:font-normal text-dark whitespace-normal">
        Электронные компоненты из глобального складского наличия, подбор аналогов и поставки по графику</p>
      <div class="flex flex-col items-center justify-center lg:justify-start sm:flex-row ">
        <a href="https://app.streamparts.ru/login"
          class="inline-block mt-14 bg-blue text-white border-0 get-started font-medium px-12 py-2 rounded-lg md:text-sm shadow hover:shadow-lg ease-linear transition-all duration-150 text-lg">Войти</a>
        <a href="{{ link3.url }}" class="ml-4  mt-14 inline-block border-0 text-lg items-center">
          <svg class="mr-2 md:inline-block align-baseline" width="16" height="16" viewBox="0 0 16 16" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <rect opacity="0.15" width="16" height="16" rx="4" fill="#007BFF" />
            <path
              d="M11.3536 8.35355C11.5488 8.15829 11.5488 7.84171 11.3536 7.64645L8.17157 4.46447C7.97631 4.2692 7.65973 4.2692 7.46447 4.46447C7.2692 4.65973 7.2692 4.97631 7.46447 5.17157L10.2929 8L7.46447 10.8284C7.2692 11.0237 7.2692 11.3403 7.46447 11.5355C7.65973 11.7308 7.97631 11.7308 8.17157 11.5355L11.3536 8.35355ZM4 8.5L11 8.5L11 7.5L4 7.5L4 8.5Z"
              fill="#007BFF" />
          </svg>
          Получить
          доступ
        </a>
      </div>
    </div>
    <div class="w-full pt-9 lg:w-80 xl:w-1/2 2xl:w-1/2">
      <img alt="Macbook" src="/src/img/Img_1_screen.jpg">
    </div>
  </div>
</section>