<!-- <section class="2xl:container 2xl:mx-auto mx-7">
  <div class="md:flex mb-4 p-4">
    <div class="w-full sm:w-2/3 md:w-1/2 2xl:mr-64">
      <p
        class="text-left 2xl:text-4xl 2xl:font-medium lg:text-2xl lg:font-normal text-2xl  font-normal text-dark whitespace-normal py-8">
        Электронные компоненты из глобального складского наличия, подбор аналогов и поставки по графику
      </p>
      <a href="#"
        class="inline-block bg-blue text-white border-0 get-started font-medium px-10 py-2 rounded-3xl lg:px-12 lg:text-lg shadow hover:shadow-lg transition-all duration-150 ease-linear">Войти</a>
      <a id="registration-title" href="#" class="ml-0 mt-4 sm:ml-4 sm:mt-0 inline-block border-0 text-lg items-center"
        data-micromodal-trigger="registration">
        <svg class="mr-2 inline-block align-baseline lg:mr-3" width="16" height="16" viewBox="0 0 16 16" fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <rect opacity="0.15" width="16" height="16" rx="4" fill="#007BFF" />
          <path
            d="M11.3536 8.35355C11.5488 8.15829 11.5488 7.84171 11.3536 7.64645L8.17157 4.46447C7.97631 4.2692 7.65973 4.2692 7.46447 4.46447C7.2692 4.65973 7.2692 4.97631 7.46447 5.17157L10.2929 8L7.46447 10.8284C7.2692 11.0237 7.2692 11.3403 7.46447 11.5355C7.65973 11.7308 7.97631 11.7308 8.17157 11.5355L11.3536 8.35355ZM4 8.5L11 8.5L11 7.5L4 7.5L4 8.5Z"
            fill="#007BFF" />
        </svg>
        Получить
        доступ
      </a>
    </div>
    <div class="w-full md:w-1/2 p-4">
      <img class="w-full" src="/src/img/Img_1_screen.jpg" alt="Macbook">
    </div>
  </div>
</section> -->