<header class="container mx-auto">
  <div class="max-w-[1220px] px-[30px] mx-auto border border-b-gray border-r-0 border-t-0 border-l-0">
    <div class="py-[14px] md:px-4 flex justify-between items-center">
      <div>
        <a href="/" class="items-center w-[160px] md:[140px ]">
          <img src="/src/img/logo.svg" alt="">
        </a>
      </div>
      <div class="md:flex justify-between outline-none">
        <ul id="menu" class="md:flex flex-row gap-10">
          <li>
            <a href="{{ link1.url }}" class="hidden xl:inline-block text-center text hover:text-orange">
              {{ link1.text }}
            </a>
          </li>
          <li>
            <a href="{{ link2.url }}"
              class="hidden xl:inline-block text-center hover:text-orange border border-r-gray border-l-0 border-t-0 border-b-0">
              {{ link2.text }}
            </a>
          </li>
          <li>
            <a id="registration-title" href="{{ link3.url }}"
              class="hidden sm:inline-block items-center text-black text-sm font-regular"
              data-micromodal-trigger="registration">
              <svg class="inline-block" width="16" height="16" viewBox="0 0 16 16" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <rect opacity="0.15" width="16" height="16" rx="4" fill="#007BFF" />
                <path
                  d="M11.3536 8.35355C11.5488 8.15829 11.5488 7.84171 11.3536 7.64645L8.17157 4.46447C7.97631 4.2692 7.65973 4.2692 7.46447 4.46447C7.2692 4.65973 7.2692 4.97631 7.46447 5.17157L10.2929 8L7.46447 10.8284C7.2692 11.0237 7.2692 11.3403 7.46447 11.5355C7.65973 11.7308 7.97631 11.7308 8.17157 11.5355L11.3536 8.35355ZM4 8.5L11 8.5L11 7.5L4 7.5L4 8.5Z"
                  fill="#007BFF" />
              </svg>
              Получить доступ
            </a>
          </li>
          <li>
            <a href="https://app.streamparts.ru/login"
              class="inline-block text-center px-3.5 py-2 rounded-3xl bg-blue text-white">
              Войти
            </a>
          </li>
          <li>
            <div id="menu-burger" class="xl:hidden md:inline-block">
              <button class="rounded-md">
                <svg class="text-gray-700 dark:text-gray-300 items-center p-0" width="26" height="26"
                  viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M3.99609 6.99777H22.0036" stroke="#323232" stroke-width="1.5" stroke-linecap="round"
                    stroke-linejoin="round" />
                  <path d="M18.0019 13.0002H3.99609" stroke="#323232" stroke-width="1.5" stroke-linecap="round"
                    stroke-linejoin="round" />
                  <path d="M3.99609 19.0026H14.0003" stroke="#323232" stroke-width="1.5" stroke-linecap="round"
                    stroke-linejoin="round" />
                </svg>
              </button>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>