/* kumbh-sans-100 - latin */
@font-face {
  font-family: 'Kumbh Sans';
  font-style: normal;
  font-weight: 100;
  src: url('/src/fonts/kumbh-sans/kumbh-sans-v10-latin-100.eot');
  /* IE9 Compat Modes */
  src: local(''),
    url('/src/fonts/kumbh-sans/kumbh-sans-v10-latin-100.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('/src/fonts/kumbh-sans/kumbh-sans-v10-latin-100.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('/src/fonts/kumbh-sans/kumbh-sans-v10-latin-100.woff') format('woff'),
    /* Modern Browsers */
    url('/src/fonts/kumbh-sans/kumbh-sans-v10-latin-100.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('/src/fonts/kumbh-sans/kumbh-sans-v10-latin-100.svg#KumbhSans') format('svg');
  /* Legacy iOS */
}

/* kumbh-sans-200 - latin */
@font-face {
  font-family: 'Kumbh Sans';
  font-style: normal;
  font-weight: 200;
  src: url('/src/fonts/kumbh-sans/kumbh-sans-v10-latin-200.eot');
  /* IE9 Compat Modes */
  src: local(''),
    url('/src/fonts/kumbh-sans/kumbh-sans-v10-latin-200.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('/src/fonts/kumbh-sans/kumbh-sans-v10-latin-200.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('/src/fonts/kumbh-sans/kumbh-sans-v10-latin-200.woff') format('woff'),
    /* Modern Browsers */
    url('/src/fonts/kumbh-sans/kumbh-sans-v10-latin-200.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('/src/fonts/kumbh-sans/kumbh-sans-v10-latin-200.svg#KumbhSans') format('svg');
  /* Legacy iOS */
}

/* kumbh-sans-regular - latin */
@font-face {
  font-family: 'Kumbh Sans';
  font-style: normal;
  font-weight: 400;
  src: url('/src/fonts/kumbh-sans/kumbh-sans-v10-latin-regular.eot');
  /* IE9 Compat Modes */
  src: local(''),
    url('/src/fonts/kumbh-sans/kumbh-sans-v10-latin-regular.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('/src/fonts/kumbh-sans/kumbh-sans-v10-latin-regular.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('/src/fonts/kumbh-sans/kumbh-sans-v10-latin-regular.woff') format('woff'),
    /* Modern Browsers */
    url('/src/fonts/kumbh-sans/kumbh-sans-v10-latin-regular.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('/src/fonts/kumbh-sans/kumbh-sans-v10-latin-regular.svg#KumbhSans') format('svg');
  /* Legacy iOS */
}

/* kumbh-sans-300 - latin */
@font-face {
  font-family: 'Kumbh Sans';
  font-style: normal;
  font-weight: 300;
  src: url('/src/fonts/kumbh-sans/kumbh-sans-v10-latin-300.eot');
  /* IE9 Compat Modes */
  src: local(''),
    url('/src/fonts/kumbh-sans/kumbh-sans-v10-latin-300.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('/src/fonts/kumbh-sans/kumbh-sans-v10-latin-300.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('/src/fonts/kumbh-sans/kumbh-sans-v10-latin-300.woff') format('woff'),
    /* Modern Browsers */
    url('/src/fonts/kumbh-sans/kumbh-sans-v10-latin-300.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('/src/fonts/kumbh-sans/kumbh-sans-v10-latin-300.svg#KumbhSans') format('svg');
  /* Legacy iOS */
}

/* kumbh-sans-500 - latin */
@font-face {
  font-family: 'Kumbh Sans';
  font-style: normal;
  font-weight: 500;
  src: url('/src/fonts/kumbh-sans/kumbh-sans-v10-latin-500.eot');
  /* IE9 Compat Modes */
  src: local(''),
    url('/src/fonts/kumbh-sans/kumbh-sans-v10-latin-500.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('/src/fonts/kumbh-sans/kumbh-sans-v10-latin-500.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('/src/fonts/kumbh-sans/kumbh-sans-v10-latin-500.woff') format('woff'),
    /* Modern Browsers */
    url('/src/fonts/kumbh-sans/kumbh-sans-v10-latin-500.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('/src/fonts/kumbh-sans/kumbh-sans-v10-latin-500.svg#KumbhSans') format('svg');
  /* Legacy iOS */
}

/* kumbh-sans-600 - latin */
@font-face {
  font-family: 'Kumbh Sans';
  font-style: normal;
  font-weight: 600;
  src: url('/src/fonts/kumbh-sans/kumbh-sans-v10-latin-600.eot');
  /* IE9 Compat Modes */
  src: local(''),
    url('/src/fonts/kumbh-sans/kumbh-sans-v10-latin-600.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('/src/fonts/kumbh-sans/kumbh-sans-v10-latin-600.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('/src/fonts/kumbh-sans/kumbh-sans-v10-latin-600.woff') format('woff'),
    /* Modern Browsers */
    url('/src/fonts/kumbh-sans/kumbh-sans-v10-latin-600.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('/src/fonts/kumbh-sans/kumbh-sans-v10-latin-600.svg#KumbhSans') format('svg');
  /* Legacy iOS */
}

/* kumbh-sans-700 - latin */
@font-face {
  font-family: 'Kumbh Sans';
  font-style: normal;
  font-weight: 700;
  src: url('/src/fonts/kumbh-sans/kumbh-sans-v10-latin-700.eot');
  /* IE9 Compat Modes */
  src: local(''),
    url('/src/fonts/kumbh-sans/kumbh-sans-v10-latin-700.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('/src/fonts/kumbh-sans/kumbh-sans-v10-latin-700.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('/src/fonts/kumbh-sans/kumbh-sans-v10-latin-700.woff') format('woff'),
    /* Modern Browsers */
    url('/src/fonts/kumbh-sans/kumbh-sans-v10-latin-700.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('/src/fonts/kumbh-sans/kumbh-sans-v10-latin-700.svg#KumbhSans') format('svg');
  /* Legacy iOS */
}

/* kumbh-sans-800 - latin */
@font-face {
  font-family: 'Kumbh Sans';
  font-style: normal;
  font-weight: 800;
  src: url('/src/fonts/kumbh-sans/kumbh-sans-v10-latin-800.eot');
  /* IE9 Compat Modes */
  src: local(''),
    url('/src/fonts/kumbh-sans/kumbh-sans-v10-latin-800.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('/src/fonts/kumbh-sans/kumbh-sans-v10-latin-800.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('/src/fonts/kumbh-sans/kumbh-sans-v10-latin-800.woff') format('woff'),
    /* Modern Browsers */
    url('/src/fonts/kumbh-sans/kumbh-sans-v10-latin-800.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('/src/fonts/kumbh-sans/kumbh-sans-v10-latin-800.svg#KumbhSans') format('svg');
  /* Legacy iOS */
}

/* kumbh-sans-900 - latin */
@font-face {
  font-family: 'Kumbh Sans';
  font-style: normal;
  font-weight: 900;
  src: url('/src/fonts/kumbh-sans/kumbh-sans-v10-latin-900.eot');
  /* IE9 Compat Modes */
  src: local(''),
    url('/src/fonts/kumbh-sans/kumbh-sans-v10-latin-900.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('/src/fonts/kumbh-sans/kumbh-sans-v10-latin-900.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('/src/fonts/kumbh-sans/kumbh-sans-v10-latin-900.woff') format('woff'),
    /* Modern Browsers */
    url('/src/fonts/kumbh-sans/kumbh-sans-v10-latin-900.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('/src/fonts/kumbh-sans/kumbh-sans-v10-latin-900.svg#KumbhSans') format('svg');
  /* Legacy iOS */
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.nav {
  margin-right: auto;
  border-right: 1px solid #EDEDED;
}

#menu-burger {
  width: 40px;
  height: 50px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 12px 4px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#menu-burger span {
  display: block;
  background: #0087EF;
  width: 32px;
  height: 4px;
  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

#menu-burger span:nth-child(2) {
  margin: 7px 0;
}

#menu-burger.open span:first-child {
  -webkit-transform: translateY(11px) rotate(45deg);
  transform: translateY(11px) rotate(45deg);
}

#menu-burger.open span:nth-child(2) {
  opacity: 0;
}

#menu-burger.open span:last-child {
  -webkit-transform: translateY(-11px) rotate(-45deg);
  transform: translateY(-11px) rotate(-45deg);
}


#menu.open {
  visibility: visible !important;
}