/* Taiwild */
@tailwind base;
@tailwind components;
@tailwind utilities;

#menu-burger {
  width: 24px;
  height: 24px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#menu-burger span {
  display: block;
  background: #323232;
  width: 32px;
  height: 4px;
  -webkit-transform-origin: center;
  transform-origin: left;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

#menu-burger span:nth-child(2) {
  margin: 7px 0;
}

#menu-burger.open span:first-child {
  -webkit-transform: translateY(11px) rotate(45deg);
  transform: translateY(11px) rotate(45deg);
}

#menu-burger.open span:nth-child(2) {
  opacity: 0;
}

#menu-burger.open span:last-child {
  -webkit-transform: translateY(-11px) rotate(-45deg);
  transform: translateY(-11px) rotate(-45deg);
}

#menu.open {
  visibility: visible !important;
}

/* before  li   */
ul li.main__li::before {
  content: " ";
  width: 12px;
  height: 12px;
  background-color: #ff5c00;
  position: absolute;
  top: calc(50% - 6px);
  left: -24px;
}

.bg-block-free-market {
  background: url("../basket&globe.09584bee.jpg") no-repeat;
  width: 100%;
  height: 420px;
}

.bg-block-free-market {
  background: url("../basket&globe.09584bee.jpg") no-repeat;
  width: 100%;
  height: 420px;
}

.bg-block-free-market {
  background: url("../basket&globe.09584bee.jpg") no-repeat;
  width: 100%;
  height: 420px;
}

@media screen and (max-width: 1024px) {
  ul li.main__li::before {
    left: 0px;
  }
}

/* MEdia screen  */
/* Left 0 */
/* Li add padding */

/*Tabs */

.list {
  border: 1px solid #e6e6e6;
}

.tab {
  display: flex;
  gap: 4px;
}

.tablinks {
  background: white;
  color: #000;
  border: none;
  cursor: pointer;
  padding: 16px;
}

.tab-content {
  position: relative;
}

.tab-content__item {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transform: translateX(100px);
}

.active {
  opacity: 1;
  position: static;
  /* background-color: #007bff; */
  background-color: #ff5c00;
  color: white;
  transform: translateX(0);
}

.active-tab {
  background-color: #000;
}

.active-tab-open {
  background-color: white;
}



.select-dropdown {
  position: relative;
}

.select-dropdown select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.select-dropdown:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 15px;
  width: 0;
  height: 0;
  margin-top: -2px;
  border-top: 5px solid #aaa;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}

.before\:top-\[2px\]::before {
  content: var(--tw-content);
  top: 2px;
  margin-right: 5px;
}

.before\:left-\[106px\]::before {
  content: var(--tw-content);
  left: 106px;
}

.before\:top-\[10px\]::before {
  content: var(--tw-content);
  margin-top: 2px;
  margin-right: 5px;
  float: left;
}

.before\:top-\[40px\]::before {
  content: var(--tw-content);
  margin-top: 40px;
  margin-right: 5px;
  float: left;
}

.before\:content-arrow::before {
  --tw-content: url("/src/img/icon/arrown.svg");
  content: var(--tw-content);
}

.before\:content-more::before {
  --tw-content: url("/src/img/icon/more.svg");
  content: var(--tw-content);
}

.before\:content-orangem::before {
  --tw-content: url("/src/img/icon/orange.svg");
  content: var(--tw-content);
}

.before\:content-markerb::before {
  --tw-content: url("/src/img/icon/markerb.svg");
  content: var(--tw-content);
}

.title {
  color: #000;
  text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-family: "SF Pro Text";
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.46px;
}