<section>
  <div class="max-w-[1220px] px-[30px] mx-auto">
    <div class="flex flex-col md:gap-8">
      <div class="font-pro text-black text-[26px] lg:text-[46px] lg:leading-[31.03px] font-normal whitespace-nowrap">
        Направления поставок
      </div>
      <div class="flex flex-col md:gap-3 md:pt-8">
        <h2 class="before:content-number1 before:top-[12px] before:right-[4px] before:relative">
          Свободный рынок
        </h2>
        <div class="text-base pt-1 font-normal text-[#007BFF] font-body">
          Складские поставки дефицитных компонентов в условиях санкций
        </div>
      </div>
    </div>
    <div class="w-full h-[1px] sm:mb-6 sm:mt-6 bg-[#EDEDED]"></div>
    <div class="flex flex-col-reverse mt-4 md:flex md:flex-row md:mt-8 gap-7">
      <ul role="list" class="flex w-full gap-10 flex-col font-['Inter'] font-medium text-dark">
        <li class="relative lg:pl-6 pl-6 main__li">{{ text1 }}</li>
        <li class="relative lg:pl-6 pl-6 main__li">{{ text2 }}</li>
        <li class="relative lg:pl-6 pl-6 main__li">{{ text3 }}</li>
        <li class="relative lg:pl-6 pl-6 main__li">{{ text4 }}</li>
        <li class="relative lg:pl-6 pl-6 main__li">{{ text5 }}</li>
      </ul>
      <div class="w-full bg-block"></div>
    </div>
    <div class="flex flex-col md:gap-3 md:pt-8">
      <h2 class="before:content-number2 before:top-[12px] before:right-[4px] before:relative">
        Снабжение
      </h2>
      <div class="text-base pt-1 font-normal text-[#007BFF] font-body">
        Внедрение и поставки по графику компонентов азиатских производителей
      </div>
    </div>
    <div class="w-full h-[1px] sm:mb-6 sm:mt-6 bg-[#EDEDED]"></div>
    <div class="flex flex-col-reverse mt-4 md:flex md:flex-row-reverse md:mt-8 gap-9">
      <ul role="list" class="flex w-full gap-10 flex-col font-['Inter'] font-medium text-dark">
        <li class="relative lg:pl-6 pl-6 main__li">{{ text6 }}</li>
        <li class="relative lg:pl-6 pl-6 main__li">{{ text7 }}</li>
        <li class="relative lg:pl-6 pl-6 main__li">{{ text8 }}</li>
        <li class="relative lg:pl-6 pl-6 main__li">{{ text9 }}</li>
        <li class="relative lg:pl-6 pl-6 main__li">{{ text10 }}</li>
        <li class="relative lg:pl-6 pl-6 main__li">{{ text11 }}</li>
      </ul>
      <div class="w-full bg-block2"></div>
    </div>
    <div class="flex flex-col md:gap-3 md:pt-8">
      <h2 class="before:content-number3 before:top-[12px] before:right-[4px] before:relative">
        Снабжение
      </h2>
      <div class="text-base pt-1 font-normal text-[#007BFF] font-body">
        Поставки под ключ от азиатского источника
      </div>
    </div>
    <div class="w-full h-[1px] sm:mb-6 sm:mt-6 bg-[#EDEDED]"></div>
    <div class="flex flex-col-reverse mt-4 md:flex md:flex-row md:mt-8 gap-7">
      <ul role="list" class="flex w-full gap-10 flex-col font-['Inter'] font-medium text-dark">
        <li class="relative lg:pl-6 pl-6 main__li">{{ text12 }}</li>
        <li class="relative lg:pl-6 pl-6 main__li">{{ text13 }}</li>
        <li class="relative lg:pl-6 pl-6 main__li">{{ text14 }}</li>
        <li class="relative lg:pl-6 pl-6 main__li">{{ text15 }}</li>
        <li class="relative lg:pl-6 pl-6 main__li">{{ text16 }}</li>
        <li class="relative lg:pl-6 pl-6 main__li">{{ text17 }}</li>
      </ul>
      <div class="w-full bg-block3"></div>
    </div>
  </div>
</section>