<div>
  <h2 class="text-2xl text-left  md:text-5xl">Наша география</h2>
  <div class="flex flex-col relative  gap-10 md:gap-0 flex-wrap md:flex-row md:pt-[74px] justify-center  md:justify-between md:pb-24 pt-10">
    <!-- 1 карточка -->
    <div class="w-full lg:max-w-[360px] flex flex-col gap-7">
      <img class="rounded-2xl" src="/src/img/shenzhen.jpg" alt="blog cover" />
      <div class="flex flex-col gap-4">
        <h3 class="text-2xl font-medium">Шэньчжэнь</h3>
        <div>
          Офис и склад консолидации
        </div>
      </div>
    </div>
    <!-- 2 карточка -->
    <div class="w-full lg:max-w-[360px] flex flex-col gap-7">
      <img class="rounded-2xl" src="/src/img/shenzhen.jpg" alt="blog cover" />
      <div class="flex flex-col gap-4">
        <h3 class="text-2xl font-medium">Шанхай</h3>
        <div>
          Офис по работе c китайскими производителями
        </div>
      </div>
    </div>
    <!-- 3 карточка -->
    <div class="w-full lg:max-w-[360px] flex flex-col gap-7">
      <img class="rounded-2xl" src="/src/img/shenzhen.jpg" alt="blog cover" />
      <div class="flex flex-col gap-4">
        <h3 class="text-2xl font-medium">Санкт-Петербург</h3>
        <div>
          Офис и склад
        </div>
      </div>
    </div>
    <div class="absolute w-full  h-[1px] bottom-0 bg-[#EDEDED]"></div>
  </div>
</div>