<div class="relative flex-col-reverse items-center justify-between overflow-hidden  md:flex md:flex-row">
  <div class="w-full pt-6 pb-4 bg-white md:w-1/2">
    <p
      class="text-black font-sans font-normal text-[22px] leading-[26.25px] md:text-[26px] md:leading-[31.03px] lg:text-[36px] lg:leading-[54.89px] lg:whitespace-normal">
      Стримпартс (Streamparts.ru) основан в 2019г. специалистами из логистики,
      дистрибуции электронных компонентов и IT
    </p>
  </div>
  <img class="object-cover w-full md:w-1/2" src="/src/img/SPGlass.jpg" alt="Pic" />
  <!-- нижнее подчеркивание -->
  <div class="absolute w-full h-[1px] bottom-0 bg-[#EDEDED]"></div>
</div>